*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  /* width: 100%; */
  height:100vh;
  font-family: Arial, sans-serif;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://static.vecteezy.com/system/resources/previews/003/114/039/original/wood-planks-floor-with-mountain-view-beauty-nature-background-free-photo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
nav{
  background: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav h1{
  font-size: 2.5rem;
  color: #fff;
}
ul{
  list-style: none;
}
.main-menu{
  display: flex;
  justify-content: flex-end;
}
.main-menu li a{
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 40px;
  border-radius: 5px;
  margin: 0 20px;
}
.dropdown {
  position: relative;
}
.dropdown-menu{
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}
.dropdown-menu li a{
  background: #333;
  border-bottom: 2px solid #0081c6;
}
li a:hover{
  background: #0081c6;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
