.img-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-gallery img{
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
    object-position: center;
    opacity: 0;
}

.img-wrap::before{
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
    background-color: rgba(255, 255, 255, 0.3);
}
.img-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.loaded::before{
    content: none;
    animation: none;
}
.loaded > img {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
} 




@keyframes pulse{
    0%{
        background-color: rgba(255, 255, 255, 0);
    }
    50%{
        background-color: rgba(255, 255, 255, 0.3);
    }
    100%{
        background-color: rgba(255, 255, 255, 0);
    }
}