*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    /* width: 100%; */
    background-image: url('https://images.unsplash.com/photo-1604085572504-a392ddf0d86a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b3JhbmdlJTIwZmxvd2VyfGVufDB8fDB8fHww&w=1000&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar{
    width: 100%;
    background: rgb(21, 0, 59);
    height: 75px;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #1a252f;
}
.nav-bar ul{
    width: 780px;
    height: 100%;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
}

.nav-bar ul li{
    width: 120px;
    float: left;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.nav-bar ul li:last-child{
    margin-right: 0;
}
.nav-bar ul li:hover{
    color: rgb(30, 255, 0);
}

.nav-bar ul li:hover .mega-menu{
    color: rgb(255, 255, 255);
}
.nav-bar ul li .mega-menu p:hover{
    color: rgb(30, 255, 0);
}

.header-banner{
    width: 100%;
    height: 350px;
}
.mega-menu{
    position: absolute;
    top: 65px;
    left: 0;
    width: 750px;
    height: 250px;
    background: #1a252f;
    transition: all 0.4s ease;
    padding: 40px;
    box-sizing: border-box;
    /* display: none; */ 
    visibility: hidden;
    opacity: 0;
}

.inner-mega-menu{
    width: 24%;
    float: left;
    margin-right: 1%;
}
.inner-mega-menu:last-child{
    margin-right: 0%;
}
.inner-mega-menu p{
    padding: 10px 0;
    transition: all 0.4s ease;
}
.nav-bar ul li:hover .mega-menu{
    /* display: block; */
    visibility: visible;
    opacity: 1;
}