.wrapper {
  min-height: 100vh;
  min-width: 100vh;
  width: 90%;
  margin-left: 5%;
}
.wrapper .heading {
  text-transform: uppercase;
}
.wrapper .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.wrapper .p-box .project-image {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .p-box .p-img-1 {
  background-image: url(./img/ashley-knedler-UdQ4SdV9UE8-unsplash.jpg);
}
.wrapper .p-box .p-img-2 {
  background-image: url(./img/attachment.jpg);
}
.wrapper .p-box .p-img-3 {
  background-image: url(./img/attachment_a6925fb09bf1f125f541e5e31d4945fc.png);
}
.wrapper .p-box .p-img-4 {
  background-image: url(./img/authentic-celebration-evening-flowers-guy-leaves-1614972-pxhere.com.jpg);
}
.wrapper .p-box .p-img-5 {
  background-image: url(./img/back-view-photo-of-boy-in-blue-playing-ball-2787356.jpg);
}
.wrapper .p-box .p-img-6 {
  background-image: url(./img/background-green-moss-nature-forest-tree-1637091-pxhere.com.jpg);
}
.wrapper .p-box .p-img-7 {
  background-image: url(./img/beach-landscape-sea-coast-water-nature-945297-pxhere.com.jpg);
}
.wrapper .p-box .p-img-8 {
  background-image: url(./img/beach-landscape-sea-water-nature-sand-1061649-pxhere.com.jpg);
}
.wrapper .p-box .p-img-9 {
  background-image: url(./img/beach-sea-coast-water-sand-ocean-1200073-pxhere.com.jpg);
}
.wrapper .title-desc {
  background: rgba(29, 87, 3, 0.726);
  height: 100%;
  width: 100%;
  color: white;
  top: 0;
  left: 0;
  text-align: center;
  display: node;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .title-desc .project-desc {
  width: 90%;
}
.wrapper .hide {
  display: none;
}
.wrapper .show {
  display: flex;
  animation: show 1s ease;
}

@keyframes show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
