.wrapper{
    min-height: 100vh;
    min-width: 100vh;
    width: 90%;
    margin-left: 5%;
    .heading{
        text-transform: uppercase;
    }
    .projects{
        // GRID 
        display: grid;
        // grid-template-columns: 30% 30% 30%;
        // grid-template-columns: 1fr 4fr 1fr;
        // grid-template-columns: repeat(3, 1fr 2fr);
        // grid-template-columns: repeat(3, 1fr 2fr 3fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
    .p-box{
        .project-image{
            width: 100%;
            height: 15rem;
            // object-fit: cover;
            // object-position: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .p-img-1{
            background-image: url(./img/ashley-knedler-UdQ4SdV9UE8-unsplash.jpg);
        }
        .p-img-2{
            background-image: url(./img/attachment.jpg);
        }
        .p-img-3{
            background-image: url(./img/attachment_a6925fb09bf1f125f541e5e31d4945fc.png);
        }
        .p-img-4{
            background-image: url(./img/authentic-celebration-evening-flowers-guy-leaves-1614972-pxhere.com.jpg);
        }
        .p-img-5{
            background-image: url(./img/back-view-photo-of-boy-in-blue-playing-ball-2787356.jpg);
        }
        .p-img-6{
            background-image: url(./img/background-green-moss-nature-forest-tree-1637091-pxhere.com.jpg);
        }
        .p-img-7{
            background-image: url(./img/beach-landscape-sea-coast-water-nature-945297-pxhere.com.jpg);
        }
        .p-img-8{
            background-image: url(./img/beach-landscape-sea-water-nature-sand-1061649-pxhere.com.jpg);
        }
        .p-img-9{
            background-image: url(./img/beach-sea-coast-water-sand-ocean-1200073-pxhere.com.jpg);
        }

    }


    .title-desc{
        
        background: rgba(29, 87, 3, 0.726);
        height: 100%;
        width: 100%;
        // margin: 0 5%;
        color: white;
        // position: absolute;

        // z-index: 1;
        top: 0;
        left: 0;
        text-align: center;
        display: node;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .project-desc{
            width: 90%;
        }

    }
    .hide{
        display: none;
    }
    .show{
        display: flex;
        animation: show 1s ease ;
    }

}


@keyframes show{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}