@import url('https://fonts.googleapis.com/css?family=Unna');
*{
    box-sizing: border-box;
}
body{
    
    font-family: 'Unna', serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

#wrapper{
    display: flex;
    flex-direction: row;
}
#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
#right{
    flex: 1;
}

#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-bottom: 1rem;
}
#signin form{
    width: 80%;
    padding-bottom: 3rem;
}
#signin .logo{
    width: 80%;
    padding-bottom: 8vh;
}
#signin .logo img{
    width: 300px;
  
}
#signin label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}
#signin .text-input{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}
#signin .primary-btn{
   width: 100%; 
}
#signin .secondary-btn, .or, .links{
    width: 60%;
}
#signin .links a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1em;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;

}
#signin .or .bar{
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

#signin .or span{
    color: #ccc;
    padding: 0 0.8rem;
}
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1618588507085-c79565432917?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww&w=1000&q=80') no-repeat center center / cover;
    height: 100vh;
    text-align: center;
}
#showcase .showcase-text{
    font-size: 3rem;
    width: 100%;
    color: white;
    margin-bottom: 1.5rem;
}
#showcase .secondary-btn{
    width: 60%;
    margin: auto;

}
#main-footer{
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}
#main-footer a{
    color: #00084e;
    text-decoration: underline;
}

.primary-btn{
    padding:0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background: #00084e;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover{
    background-color: #300146;
}
.secondary-btn{
    padding:0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid navajowhite;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    
}

.secondary-btn:hover{
    border-color: #300146;
    color: #b3b3b3;
}

@media (min-width:1200px){
    #left{
        flex: 4;
    }
    #right{
        flex: 6;
    }
}

@media (max-width:768px){
    body{
        overflow: auto;
    }
    #right{
        display: none;
    }
    #left{
        justify-content: start;
        margin-top: 4vh;

    }
    #signin .logo{
        margin-bottom: 2vh;
    }
    #signin .text-input{
        margin-bottom: 0.7rem;
    }
    #main-footer{
        padding-top: 1rem;
    }

}