body{
    width: 100%;
    background: url(https://images.pexels.com/photos/18184358/pexels-photo-18184358/free-photo-of-awakening-the-jungle-with-colors-and-elegance.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#search-result{
    height: 70vh;
    overflow-y: scroll;
}